name: Deploy to VM
on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
     - name: Copy folder content recursively to remote
       uses: garygrossgarten/github-action-scp@release
       with:
          local: ./SpringBoot/spring-boot-app/
          remote: /home/ec2-user/SpringBoot/
          host: ${{ secrets.HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.PASSWORD }}
